@font-face {
    font-family: minecraft;
    src: url(fonts/MinecraftRegular-Bmg3.otf);
}

#top, #biomeSelector, #debug {
    font-family: minecraft;
    font-size: 16pt;
    color: #444;
}

button.mc-button {
    height: 53px;
    border: none;
    background-color: transparent;
    font-family: minecraft;
    font-size: 16pt;
    color: #444;
}

button.mc-button * {
    display: inline-block;
    vertical-align: top;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    cursor: pointer;
}

button.mc-button .before {
    background-image: url(images/button-left.png);
    width: 20px;
}
button.mc-button:hover .before,
button.mc-button:focus .before {
    background-image: url(images/button-hover-left.png);
}
button.mc-button:active .before {
    background-image: url(images/button-pressed-left.png);
}

button.mc-button .text {
    background-image: url(images/button-middle.png);
    background-repeat: repeat-x;
}
button.mc-button:hover .text,
button.mc-button:focus .text {
    background-image: url(images/button-hover-middle.png);
}
button.mc-button:active .text {
    background-image: url(images/button-pressed-middle.png);
}

button.mc-button .after {
    background-image: url(images/button-right.png);
    width: 20px;
}
button.mc-button:hover .after,
button.mc-button:focus .after {
    background-image: url(images/button-hover-right.png);
}
button.mc-button:active .after {
    background-image: url(images/button-pressed-right.png);
}

button.test {
    font-family: minecraft;
    font-size: 16pt;
    color: #444;
    background-color: #ccc;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #666;
    border-right-color: #666;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 0 0 0 2px black;
    padding-left: 10px;
    padding-right: 10px;
}
button.test.active {
    border-top-color: #666;
    border-left-color: #666;
    border-bottom-color: white;
    border-right-color: white;
}

#biomeSelector {
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    padding-left: 15px;
}

#main {
    display: inline-block;
    vertical-align: top;
    width: 772px;
    height: 523px;
    background-image:url(images/tacklebox.png);
    position: relative;
}

#row1 {
    position: absolute;
    top: 88px;
    left: 136px;
}

#row2 {
    position: absolute;
    top: 232px;
    left: 136px;
}

#row3 {
    position: absolute;
    top: 376px;
    left: 136px;
}

.link {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 4px;
}

.link.visible {
    background-color: rgba(200, 200, 200, .5);
}
.link.biome-docks {
    background-color: rgba(255, 0, 0, .5);
}
.link.biome-cliffs {
    background-color: rgba(255, 255, 0, .5);
}
.link.biome-lake {
    background-color: rgba(255, 0, 255, .5);
}
.link.biome-beach {
    background-color: rgba(0, 255, 255, .5);
}
.link.biome-river {
    background-color: rgba(128, 128, 255, .5);
}
.link.biome-reef {
    background-color: rgba(0, 255, 128, .5);
}